.features {
  background:$lightGrayish;
  padding-bottom:3.25rem;
  padding-top:4.375rem ;
  &__copy {
    text-align: center;
    padding:0 0.75rem 2.5rem 0.75rem ;
    h2 {
      @extend .h2-title;
    }
    p {
      @extend .p-sub;
      margin-top:1.5rem;
    }
  }
  &__cards {
    
    text-align: center;
    .cards-item {
      padding: 1rem 0;
      
        img {
          margin: 0 auto;
          
        }
        h3 {
          @extend .h3-title;
          line-height: 1.3rem;
          padding: 1.625rem 0;
        }
        p {
          @extend .p-sub;
          @include breakpoint-up(md) {
            font-size: 1rem;
         }
       }
    }
  }
}
@include breakpoint-up(md) {
  .features { 
    padding-top:6.875rem ;
    padding-bottom: 5.75rem;
    &__cards {
      display: grid;
      grid-template-columns: repeat(2, 16.25rem);
      text-align: center;
      grid-gap: 1.75rem;
      justify-content: center;
    .cards-item {
      max-width: 16.25rem;
      margin: 0 auto;
      }
   }
 }
}
@include breakpoint-up(ld){
  .features {
    padding-top:6.875rem ;
    padding-bottom: 5.75rem;
    &__copy {
    text-align: left;
    max-width: 40rem;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 3.375rem;
    }
    &__cards {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      text-align: left;
      grid-gap: 1.75rem;
    }
    .cards-item {
      max-width: 16.25rem;
    img {
      margin-left: 0;
      
     }
   } 
  }
}