* {
    box-sizing: border-box;
}

body {
    font-family: 'Public Sans', sans-serif;
    overflow-x: hidden;
}
img {
    display: block;
}
.container {
    width: 100%;
    max-width:1110px;
    margin-right: auto;
    margin-left: auto;
    padding-right: $padding;
    padding-left: $padding;
    @include breakpoint-up(ld) {
        max-width: 1110px;
        
    }
    @include breakpoint-up(xd) {
        padding-right: 0;
        padding-left: 0;
        
    }
 }

.h1-title {
    font-size: 2.5rem;
    color: $darkBlue;
    font-weight: 300;
    line-height: 2.8rem;
    @include breakpoint-up(ld) {
        font-size: 3.125rem;   
        line-height: 4rem;
    }
}
.h2-title {
    font-size: 1.875rem;
    color: $darkBlue;
    font-weight: 300;
    line-height: 2.25rem;
    @include breakpoint-up(ld) {
        font-size: 2.25rem;   
        line-height: 2.25rem;
        }  
}
.h3-title {
    font-size: 1.25rem;
    color: $darkBlue;
    font-weight: 400;
    @include breakpoint-up(ld) {
        font-size: 1.375rem; 
        }
    
}


.p-sub {
 font-size: 0.875rem;
 color: $grayishBlue;
 line-height: 1.5rem;
 @include breakpoint-up(ld) {
    font-size: 1.125rem;   
    line-height: 1.75rem;
    }
}

.hide-for-mobile {
 @include breakpoint-down(md) {
     display:none !important; 
 }
}

.hide-for-desktop {
    @include breakpoint-up(md) {
        display:none !important; 
    }
   }