// Hero Section

.hero {
  background: $veryLight;
    &__img {
      
      background: url(../../images/bg-intro-mobile.svg) no-repeat center top 50%;
      background-size: cover;
      position: relative;
      top:0;
      z-index: 0;
      height: 281px;
      img {
        width:100%;
        max-width:345px;
        margin: 0 auto;
        top:-125px;
        position: relative;
        z-index: -1;
      }

    }
   

    &__copy {
      padding-top:2.625rem;
      padding-bottom: 5.375rem;
      text-align: center;

       h1 {
       @extend .h1-title;
       }
       p {
         @extend .p-sub;
         margin-top: 1.2rem;
         margin-bottom: 2.25rem;
       }
     
    }
}

.btn {
  width: 10.25rem;
  background: linear-gradient( to right, $limeGreen, $brightCyan);
  border-radius: 1.5rem;
  padding: 1rem 2rem;
  color: $white;
  font-weight: 500;
  font-size: 0.875rem ;
  display: block;
  margin: 0 auto;
 
}

@include breakpoint-up(ld) {
  .hero {

    &__img {
      background: url(../../images/bg-intro-desktop.svg) no-repeat right -300px top 50%;
      background-size: 150%;
      position: relative;
      z-index: 0;
      height: 380px;

      img {
        width:100%;
        max-width:445px;
        margin: 0 auto;
        top:-80px;
        right: -150px;
        position: relative;
        z-index: -1;
      }
    }
    &__grid {
      display: grid;
      grid-template-columns: 1fr 645px;
      grid-template-areas: 'copy img';
      grid-template-rows: 380px;
      justify-content: space-between;    
      align-items: center;
      position: relative;
    }
    &__copy {
      grid-area: copy;
      text-align: left;
      max-width: 445px;  
      margin: 0 auto;
      padding: 0;
      padding-left: $padding;
      
    }
    .btn {
      margin-left: 0;
    }
  }
}

@include breakpoint-up(xd) {
  .hero {
  &__img {
    background-position: right -385px top 76%;
    background-size: 160%;
    height: 100%;

    img {
    width: 100%;
    max-width: 750px;
    top: -109px;
    right: -128px;
    }
  }
  &__grid {
    grid-template-columns: 1fr 750px;
    grid-template-rows: 656px;
    
  

  }
  &__copy {
    max-width: 445px;  
    margin: 0 auto;
    padding-left: 0.875rem;
    margin-right: 6rem;
   }
 }
}