// ### Primary

$darkBlue: hsl(233, 26%, 24%);
$limeGreen: hsl(136, 65%, 51%);
$brightCyan: hsl(192, 70%, 51%);

// ### Neutral

$grayishBlue: hsl(233, 8%, 62%);
$lightGrayish: hsl(220, 16%, 96%);
$veryLight: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);


// Breakpoints
$breakpoints-up: (
  "md": "47rem",
  "ld": "69.375rem",
  "xd": "86rem",
);

$breakpoints-down: (
  "md": "46.99rem",
  "ld": "69.374rem",
  "xd": "85.99rem",
);

$padding: 1.5rem;