.footer {
  background-color: $darkBlue;
  height: 20.875rem;
  padding: 2.5rem 0 2.75rem 0;
  &__content {
    margin: 0 auto;
    text-align: center;
    height: 252px;
  }
  &__links {
    a {
      @extend .text-mobile;
      text-transform: uppercase;
      color: white;
      margin-top: 2.375rem;
      font-size: 0.75rem;
      line-height: 1;
    }
  }
  &__logo {
    margin-bottom: 1.375rem;
  }
  &__social {
    display: flex;
    justify-content: center;
    margin-top: 3rem;

    a {
      width: 1.5rem;
      height: 1.5rem;

      &:first-child {
        margin-right: 1.5rem;
      }
    }
  }
}
